

#baniere ,#logo ,footer{
  font-family: 'Jim Nightshade', cursive;
}

#baniere ,footer{
  color: rgb(255, 255, 7);
}

@media (max-width: 1024px) {
  body {
    width: 100%;
  }
}

@media (min-width:1024px) {
  body {
    width: 70%;
    margin: auto;
  }
}